.App {
  min-width: 300px;
}

.MuiDataGrid-main
  > div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px; --darkreader-inline-color:rgba(153, 144, 131, 0.62);"],
.MuiDataGrid-main
  > div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px;"] {
  display: none !important;
}
